{% comment %} henk-rich-text.liquid {% endcomment %}

{% assign nodes = children %}

{% for node in nodes %}
  {% case node.type %}
    {% when 'paragraph' %}
      <p>
        {% if node.children %}
          {% render 'henk-rich-text', children: node.children %}
        {% endif %}
      </p>
    {% when 'text' %}
      {{ node.value }}
    {% when 'link' %}
      <a href="{{ node.url }}">
        {% if node.children %}
          {% render 'henk-rich-text', children: node.children %}
        {% endif %}
      </a>
  {% endcase %}
{% endfor %}
