{% comment %}
  Dynamic InfoBox component
  Inputs:
    variant: 'info' | 'success' | 'warning' | 'danger' (optional)
    title: string (optional, default: "This is a title")
    content: string (optional, default: "<p>This is an info box</p>")
    icon_name: string (optional, name of the icon to render)
    icon_size: 'small' | 'large' (optional, default: "large")
    button_text: string (optional, text for the button in the footer)
    button_url: string (optional, href for the button, default: "#")
{% endcomment %}

{%- assign variant = variant | default: null -%}
{%- assign title = title | default: 'This is a title' -%}
{%- assign content = content | default: '<p>This is an info box</p>' -%}
{%- assign icon_name = icon_name | default: null -%}
{%- assign icon_size = icon_size | default: 'large' -%}
{%- assign button_text = button_text | default: null -%}
{%- assign button_url = button_url | default: '#' -%}

<div class="info-box{% if variant %} info-box--variant-{{ variant | downcase }}{% endif %}">
  <div class="info-box__container">
    <!-- Header -->
    <div class="info-box__header{% if icon_name %} info-box__header--has-icon{% endif %}">
      <p class="info-box__heading">{{ title }}</p>

      {%- comment -%} Build icon HTML if needed -{%- endcomment -%}
      {% assign icon_html = '' %}
      {% if icon_name %}
        {% capture icon_html %}
          <i class="info-box__icon henk-icon">
          {% render 'henk-icon', name: icon_name, size: icon_size, only: icon_only %}
          </i>
        {% endcapture %}
      {% endif %}

      {{ icon_html }}
    </div>

    <!-- Body -->
    <div class="info-box__body">
      {{ content }}
    </div>

    <!-- Footer / Button -->

    {%- if button_label %}
      <div class="info-box__footer">
        {% render 'henk-button', element: 'a', href: button_url, label: button_label, variant: 'tertiary' %}
      </div>
    {%- endif %}
  </div>
</div>
