{% comment %}
  Render a single product tag with translation fallback.
  Input: tag
{% endcomment %}

{% assign tag_key_part = tag | handleize | replace: '-', '_' %}
{% assign key = 'tags.' | append: tag_key_part %}

{% capture tag_label %}
  {{ key | t }}
{% endcapture %}
{% assign tag_label_stripped = tag_label | strip %}

{% if tag_label_stripped contains 'Translation missing' %}
  {% assign tag_label_stripped = tag %}
{% endif %}

<span class="henk-tag henk-tag--small henk-tag--dark">
  {{ tag_label_stripped }}
</span>
