<div class="store-detail">
  {% render 'henk-section-header', title: metaobject.store_name, level: '1', align: 'center' %}

  {% render 'henk-split-screen',
    bgColor: 'default',
    id: 'ss-1',
    title: metaobject.splitscreen_heading.value,
    caption: metaobject.splitscreen_caption.value,
    level: 2,
    display: false,
    content: metaobject.splitscreen_text.value,
    media: metaobject.splitscreen_media,
    imageAlt: metaobject.splitscreen_image.alt,
    imageLink: metaobject.splitscreen_button_url.value,
    imageLinkTargetBlank: false,
    buttonUrl: metaobject.splitscreen_button_url.value,
    buttonText: metaobject.splitscreen_button_text.value,
    buttonVariant: 'default',
    reverse: false
  %}

  {% render 'henk-split-screen',
    bgColor: 'default',
    id: 'ss-2',
    title: metaobject.splitscreen_2_heading.value,
    caption: metaobject.splitscreen_caption.value,
    level: 2,
    display: false,
    content: metaobject.splitscreen_2_text.value,
    media: metaobject.splitscreen_2_map_image,
    imageAlt: metaobject.splitscreen_2_map_image.alt,
    imageLink: metaobject.splitscreen_button_url.value,
    imageLinkTargetBlank: true,
    buttonUrl: null,
    buttonText: null,
    buttonVariant: 'default',
    reverse: true
  %}
</div>
