{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

{% comment %} {{ collection | json }} {% endcomment %}

{% render 'henk-section-header', title: collection.title, text: collection.description %}

{% comment %}
  sorting
  {{ collection.sort_options | json }}
{% endcomment %}

{% render 'henk-collection-sort' %}

{% if collection.products.size > 0 %}
  <section class="shopify-section" id="shopify-section-lister">
    <div class="henk-lister-grid henk-section">
      {% paginate collection.products by 20 %}
        {% for product in collection.products %}
          {% render 'henk-card', product: product, collection: collection, card_variant: null %}
        {% endfor %}
        {{ paginate | default_pagination }}
      {% endpaginate %}
    </div>
  </section>
{% else %}
  <div style="max-width: 600px; margin-inline: auto;">
    {% render 'henk-info-box',
      variant: 'danger',
      title: 'Geen producten gevonden',
      content: '<p>Nog geen producten gekoppeld aan deze collectie.</p>',
      icon_name: 'danger'
    %}
  </div>
{% endif %}

{% schema %}
{
  "name": "t:general.collection",
  "settings": []
}
{% endschema %}
