{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

{% comment %} {{ collection | json }} {% endcomment %}

{% render 'henk-section-header', title: collection.title, text: collection.description %}

{% if collection.products.size > 0 %}
  <section class="shopify-section" id="shopify-section-lister">
    <div class="henk-lister-grid henk-section">
      {% paginate collection.products by 20 %}
        {% for product in collection.products %}
          {% render 'henk-card', product: product, collection: collection, card_variant: null %}
        {% endfor %}
        {{ paginate | default_pagination }}
      {% endpaginate %}
    </div>
  </section>
{% else %}
  {% render 'henk-info-box',
    variant: 'danger',
    title: 'Bezorgen op afspraak',
    content: '<p>Onze transporteur neemt contact met je op als jouw bestelling binnen is. Je kunt vervolgens zelf het gewenste
    aflevermoment kiezen.</p>',
    icon_name: 'calendar'
  %}
{% endif %}

{% schema %}
{
  "name": "t:general.collection",
  "settings": []
}
{% endschema %}
