{% comment %}
  This section is used in the list-collections template to render a list of
  collections.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

{% comment %} {{ collections | json }} {% endcomment %}
<!-- TODO: translations -->
{% render 'henk-section-header',
  title: 'De Studio HENK-collectie',
  level: 1,
  text: 'We geloven dat design zowel mooi als functioneel kan zijn. Daarom hebben we een collectie minimalistische designmeubels ontworpen die helemaal aangepast kunnen worden aan jouw interieur. Kies uit een breed aanbod aan maten, afwerkingen, stoffen en kleuren en ontwerp een uniek meubelstuk voor jouw interieur. Bekijk de collectie hieronder.'
%}

<div class="henk-lister-grid henk-section">
  {% for collection in collections %}
    {% render 'henk-collections-card', collection: collection, card_variant: 'macs' %}
  {% endfor %}
</div>

{% stylesheet %}
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.collections_grid",
  "settings": [
    {
      "type": "select",
      "id": "grid_item_width",
      "label": "t:labels.grid_item_width",
      "options": [
        { "value": "collections--compact", "label": "t:options.size.small" },
        { "value": "collections--full", "label": "t:options.size.large" }
      ],
      "default": "collections--full"
    },
    {
      "type": "range",
      "id": "grid_gap",
      "label": "t:labels.grid_gap",
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "px",
      "default": 10
    }
  ],
  "presets": [{ "name": "t:general.collections_grid" }]
}
{% endschema %}
