{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

{% comment %} {{ collection | json }} {% endcomment %}

{% render 'henk-section-header', title: collection.title, text: collection.description %}

{% comment %}
  sorting
{% endcomment %}

<form method="get" action="{{ collection.url }}" class="henk-collection-sort-form">
  <label for="sort-by" class="henk-label">Sort by</label>
  <select id="sort-by" name="sort_by" class="henk-input" onchange="this.form.submit()">
    <option
      value="manual"
      {% if collection.sort_by == 'manual' %}
        selected
      {% endif %}
    >
      Featured
    </option>
    <option
      value="best-selling"
      {% if collection.sort_by == 'best-selling' %}
        selected
      {% endif %}
    >
      Best selling
    </option>
    <option
      value="title-ascending"
      {% if collection.sort_by == 'title-ascending' %}
        selected
      {% endif %}
    >
      Alphabetically, A–Z
    </option>
    <option
      value="title-descending"
      {% if collection.sort_by == 'title-descending' %}
        selected
      {% endif %}
    >
      Alphabetically, Z–A
    </option>
    <option
      value="price-ascending"
      {% if collection.sort_by == 'price-ascending' %}
        selected
      {% endif %}
    >
      Price, low to high
    </option>
    <option
      value="price-descending"
      {% if collection.sort_by == 'price-descending' %}
        selected
      {% endif %}
    >
      Price, high to low
    </option>
    <option
      value="created-descending"
      {% if collection.sort_by == 'created-descending' %}
        selected
      {% endif %}
    >
      Newest
    </option>
  </select>
  <noscript>
    <button type="submit" class="henk-button">Sort</button>
  </noscript>
</form>

{% if collection.products.size > 0 %}
  <section class="shopify-section" id="shopify-section-lister">
    <div class="henk-lister-grid henk-section">
      {% paginate collection.products by 20 %}
        {% for product in collection.products %}
          {% render 'henk-card', product: product, collection: collection, card_variant: null %}
        {% endfor %}
        {{ paginate | default_pagination }}
      {% endpaginate %}
    </div>
  </section>
{% else %}
  <div style="max-width: 600px; margin-inline: auto;">
    {% render 'henk-info-box',
      variant: 'danger',
      title: 'Geen producten gevonden',
      content: '<p>Nog geen producten gekoppeld aan deze collectie.</p>',
      icon_name: 'danger'
    %}
  </div>
{% endif %}

{% schema %}
{
  "name": "t:general.collection",
  "settings": []
}
{% endschema %}
