<section class="henk-faq-section henk-section">
  <div class="henk-section__inner">
    <h2 class="henk-faq-section__title">{{ section.settings.title }}</h2>
    <div class="henk-details-group">
      {% for block in section.blocks %}
        {%
          include 'details-component' with
          summary: block.settings.summary,
          content: block.settings.content,
          variant: block.settings.variant,
          name: block.settings.name,
          icon_name: block.settings.icon_name,
          icon_size: block.settings.icon_size
        %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "FAQ Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section title",
      "default": "Frequently Asked Questions"
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ Item",
      "settings": [
        { "type": "text", "id": "summary", "label": "Summary" },
        { "type": "textarea", "id": "content", "label": "Content" },
        { "type": "text", "id": "icon_name", "label": "Icon name" },
        {
          "type": "select",
          "id": "icon_size",
          "label": "Icon size",
          "options": [
            { "value": "small", "label": "Small" },
            { "value": "medium", "label": "Medium" },
            { "value": "large", "label": "Large" }
          ],
          "default": "large"
        },
        { "type": "text", "id": "variant", "label": "Variant", "default": "plusmin" },
        { "type": "text", "id": "name", "label": "Group name", "default": "cc" }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "FAQ Section",
      "blocks": [
        {
          "type": "faq",
          "settings": {
            "summary": "What is the purpose of this component?",
            "content": "<p>This component is used to display a list of frequently asked questions.</p>",
            "icon_name": "help-circle",
            "icon_size": "large",
            "variant": "plusmin",
            "name": "cc"
          }
        },
        {
          "type": "faq",
          "settings": {
            "summary": "How many samples can I order?",
            "content": "<p>You are free to assemble your own samples or choose from our curated sample packs, which include six material samples each. You can help us reduce waste by ordering only the samples you need.</p>",
            "icon_name": "help-circle",
            "icon_size": "large",
            "variant": "plusmin",
            "name": "cc"
          }
        },
        {
          "type": "faq",
          "settings": {
            "summary": "When can I expect my samples?",
            "content": "<p>You should expect your samples within 7 days. Please contact us if you have not received your samples within one week.</p>",
            "icon_name": "calendar",
            "icon_size": "large",
            "variant": "plusmin",
            "name": "cc"
          }
        },
        {
          "type": "faq",
          "settings": {
            "summary": "Why do you want me to return the samples?",
            "content": "<p>By returning your samples, you can help us ensure that nothing goes to waste. We repurpose samples by using them in the stores if they are still in good condition.</p>",
            "icon_name": "help-circle",
            "icon_size": "large",
            "variant": "plusmin",
            "name": "cc"
          }
        },
        {
          "type": "faq",
          "settings": {
            "summary": "How can I return my samples?",
            "content": "<p>You can return your sample pack to any of our stores or mail it to us for free via Antwoordnummer 98189, 1000 VA Amsterdam.</p>",
            "icon_name": "truck-thick",
            "icon_size": "large",
            "variant": "plusmin",
            "name": "cc"
          }
        },
        {
          "type": "faq",
          "settings": {
            "summary": "Will I be reimbursed for the samples?",
            "content": "<p>When you return the samples to one of our stores, we will reimburse the cost as a discount with your order. Unfortunately, we're not able to offer reimbursement when you return your samples to us via mail.</p>",
            "icon_name": "help-circle",
            "icon_size": "large",
            "variant": "plusmin",
            "name": "cc"
          }
        }
      ]
    }
  ]
}
{% endschema %}
