.henk-header {
  /* style only when JS is disabled */
  html.no-js & {
    background-color: pink;
  }

  /* style only when JS is enabled */
  html.js-enabled & {
    background-color: yellow;
  }

  /* always */
  .henk-header__inner {
    width: min(var(--size-width-content, 1140px), 100% - 3rem);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
    background: aqua;
    justify-content: space-between;
    align-items: center;
  }

  .henk-header__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
  }

  .henk-header__utils {
    display: flex;
    gap: 16px;
  }
}
