html:has(details[name="main-nav"][open]) {
  overflow: hidden;
}

.henk-header {
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  /* always */
  .henk-header__inner {
    width: min(var(--size-width-content, 1140px), 100% - 3rem);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding-block: 24px;
  }

  .henk-header__inner::before {
    opacity: 0;
    content: "";
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100svh;
    position: fixed;
    inset: 0;
    backdrop-filter: blur(24px);
    transition: opacity 0.3s ease;
    pointer-events: none;
  }

  .henk-header__inner:has(details[open])::before {
    opacity: 1;
    pointer-events: auto;
  }

  .henk-header__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
    justify-self: start;
    z-index: 9;

    /* hide marker with display flex */
    details[name="main-nav"] {
      summary {
        display: flex;
        cursor: pointer;
        font-size: 13px;
        line-height: 24px;
        text-transform: uppercase;
      }
    }

    details::details-content {
      opacity: 0;
      overflow: clip;
      block-size: 0;
      transition:
        opacity 0.6s,
        block-size 0.6s,
        content-visibility 0.6s;
      transition-behavior: allow-discrete;
    }

    details[open]::details-content {
      block-size: auto;
      opacity: 1;
    }
  }

  .henk-header__logo {
    z-index: 9;
  }

  .henk-header__utils {
    display: flex;
    gap: 16px;
    justify-self: end;
    z-index: 9;
  }

  .dropdown-container {
    width: 100vw;
    position: absolute;
    left: 0;
    right: 0;
    max-width: 1140px;
    margin: auto;
    top: 64px;
    border-top: 1px solid var(--color-border-muted, #ccc);
  }

  .dropdown-container__inner {
    width: min(1140px, 100% - 3rem);
    margin-inline: auto;
  }

  .dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
