.henk-header {
  /* style only when JS is disabled */
  html.no-js & {
    background-color: pink;

    details[open] {
      background-color: yellow;
    }
  }

  /* style only when JS is enabled */
  html.js-enabled & {
    background-color: yellow;
  }

  /* always */
  .henk-header__inner {
    width: min(var(--size-width-content, 1140px), 100% - 3rem);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    /* background: aqua; */
    align-items: center;
    padding-block: 24px;
  }

  .henk-header__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
    justify-self: start;
  }

  .henk-header__utils {
    display: flex;
    gap: 16px;
    justify-self: end;
  }
}
