.henk-header {
  /* style only when JS is disabled */
  html.no-js & {
    background-color: pink;
  }

  /* style only when JS is enabled */
  html.js-enabled & {
    background-color: yellow;
  }

  /* always */
  .henk-header__inner {
    display: flex;
    background: aqua;
    justify-content: space-between;
  }

  .henk-header__menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
