.henk-header {
  /* style only when JS is disabled */
  html.no-js & {
    background-color: pink;

    .henk-header__inner:has(details[open]) {
      /* align-items: start; */
    }

    details[open] {
      background-color: yellow;
    }
  }

  /* style only when JS is enabled */
  html.js-enabled & {
    background-color: yellow;
  }

  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  /* always */
  .henk-header__inner {
    width: min(var(--size-width-content, 1140px), 100% - 3rem);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    /* background: aqua; */
    align-items: center;
    padding-block: 24px;
  }

  .henk-header__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
    justify-self: start;

    details::details-content {
      overflow: clip;
      block-size: 0;
      transition:
        block-size 0.6s,
        content-visibility 0.6s;
      transition-behavior: allow-discrete;
    }

    details[open]::details-content {
      block-size: auto;
    }
  }

  .henk-header__utils {
    display: flex;
    gap: 16px;
    justify-self: end;
  }

  .dropdown-container {
    width: 100vw;
    position: absolute;
    background: aqua;
    left: 0;
    right: 0;
    max-width: 1140px;
    margin: auto;
    top: 50px;
  }
}
