{% comment %}
  This section is used in the page template to render store pages like About us
  or Contact us.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/page
{% endcomment %}

{% render 'henk-section-header',
  id: 'page-{{ page.handle }}',
  caption: page.metafields.custom.caption,
  title: page.title,
  level: 1,
  text: page.metafields.custom.page_section_header_intro_text,
  align: 'center'
%}

<section class="henk-section">
  <div class="henk-section__inner">
    <h1>{{ page.title }}</h1>

    {{ page.content }}
  </div>
</section>
